<!--wow why are you looking here? we are looking for web developers, wanna help? Send a us a message at contact(at)dahliaos.io!-->
<!doctype html>
<!--
  dahliaOS.io
  Copyright 2020 The dahliaOS Authors. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400&display=swap" rel="stylesheet">

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="dahliaOS is a modern, secure, lightweight and responsive operating system, combining the best of GNU/Linux and Fuchsia OS.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <title>All blogs | dahliaOS</title>
    <script src="/assets/js/material.min.js"></script>
    <!-- Page styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/assets/css/dahlia.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }

        .blogGrid {
            display: flex;
            flex-wrap: wrap;
        }

        .blog {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 200px;
            margin: 20px auto;
            background: tomato;
        }

        button {
            bottom: 0;
        }
    </style>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <%- include('./templates/nav.ejs'); %>
            <div class="dahliaOS-content mdl-layout__content">
                <div class="blogGrid">
                    <% for(var i=0; i < blogs.length; i++) { %>
                        <div class="blog">
                            <div class="header">
                                <%= blogs[i].title %>
                            </div>
                            <div class="content">
                                <%= blogs[i].body.replace(/<[^>]*>?/gm, '') %>
                            </div>
                            <button onclick="location.href = '/blog/<%= blogs[i].url %>'">Read more</button>
                        </div>
                        <%}%>
                </div>
            </div>
    </div>
</body>

</html>