<!--Hey there, I see you're interested in our website files, are you a web developer maybe? If you are, visit us over at our Discord, we're looking for web developers!-->
<!--Discord link: https://dahliaos.io/discord-->
<!doctype html>
<!---

Copyright 2019 The dahliaOS Authors

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->
<link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400&display=swap" rel="stylesheet">

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="dahliaOS is a modern, secure, lightweight and responsive operating system, combining the best of GNU/Linux and Fuchsia OS.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <title>Donate | dahliaOS</title>
    <script src="assets/js/material.min.js"></script>
    <!-- Page styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/css/dahlia.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
    </style>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <%- include('./templates/nav.ejs'); %>
            <div class="dahliaOS-content mdl-layout__content">
                <a name="top"></a>


                <div id="downloads" class="dahliaOS-donate-section">
                    <div class="dahliaOS-customized-section-text">
                        <div align="center" class="mdl-typography--font-light mdl-typography--display-1-color-contrast">
                            Donate to
                            dahliaOS</div>
                        <p class="mdl-typography--font-light">
                        <p> Thank you for your support!
                            We use donations to keep improving our project and hardware support, and donations will go
                            towards the
                            following:
                        </p>
                        <ul>
                            <li>Website hosting</li>
                            <li>Web Domains</li>
                            <li>Development Software licenses</li>
                            <li>Devices for testing and expanding hardware support</li>
                        </ul>

                        <h4>Where can I donate?</h4>
                        <p>Currently, donations can be sent through Paypal, other services will be coming soon.</p>
                        <div align="center">
                            <a href="https://paypal.me/officialdahliaos"
                                class="dahliaOS-link mdl-typography--font-light"><button
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                                    Paypal <span class="material-icons">
                                        navigate_next
                                    </span>
                                </button></a>
                        </div>

                        <p style="margin-top:15px;">We kindly ask that you untick the Paying for goods or a service?
                            box, as
                            this is
                            merely a donation, otherwise Paypal subtracts 38% away from the amount donated as tax.</p>

                        <h3>Donators</h3>
                        <p>Thanks to all of our donators for their support!</p>
                        <h4>2020 Donations</h4>
                        <h5>August</h5>
                        <p>Raphael K.</p>



                        <h3>Transparency</h3>
                        <p>At dahliaOS, we are entirely committed to transparency, below is a complete list of financial
                            trasactions
                            made using donated funds.</p>
                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Type</th>
                                    <th>Date</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">There are no purchases at this time.
                                    </td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>

                        </p>
                    </div>
                    <div class="dahliaOS-download-section-image"></div>
                </div>
                <%- include('./templates/footer.ejs'); %>
            </div>
    </div>


</body>

</html>