<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
</head>

<body>
  <i class="error">
    <% if( error ) {%>
    <%= error %>
    <% } %>
  </i>
  <form action="/login" method="POST">
    <input type="text" id="username" name="username" placeholder="Username" required><br>
    <input type="password" id="password" name="password" placeholder="Password" required><br>
    <button type="submit">Submit</button>
  </form>
</body>

</html>