<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New article</title>
</head>

<body>
    <h1>Hey there person making the blog... Heres somethings you'll probably want to know :)</h1>
    <p>You can use h2 as a sub header, the main header is the title</p>
    <p>**USE THE p TAG WHEN YOU PUT CONTENT IN THE THING.</p>
    <p>you can use any other html stuff other than the headers expect h2, so like b, or br, or i, etc</p>
    <form action="/api/postBlog" method="POST">
        <input type="text" name="title" id="title" placeholder="Title" required><br>
        <textarea name="body" id="body" cols="50" rows="25" placeholder="Put your HTML here" required></textarea><br>
        <button type="submit">submit</button>
    </form>
</body>

</html>