<div class="dahliaOS-drawer mdl-layout__drawer">
    <span class="mdl-layout-title">
        <img class="android-logo-image" src="/assets/img/logo-white.png">
    </span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/#features">Features</a>
        <a class="mdl-navigation__link" href="/#screens">News</a>
        <a class="mdl-navigation__link" href="/downloads">Download</a>
        <a class="mdl-navigation__link" href="mailto:contact@dahliaos.io" target="_blank">Contact</a>
        <a class="mdl-navigation__link" href="https://github.com/orgs/dahliaOS/people" target="_blank">Developers</a>
        <a class="mdl-navigation__link" href="https://github.com/dahliaOS/documentation"
            target="_blank">Documentation</a>
        <div class="dahliaOS-drawer-separator"></div>
        <span class="mdl-navigation__link" href="">Find us on</span>
        <a class="mdl-navigation__link" href="/discord" target="_blank">Discord</a>
        <a class="mdl-navigation__link" href="/github" target="_blank">Github</a>
        <a class="mdl-navigation__link" href="/reddit" target="_blank">Reddit</a>
        <a class="mdl-navigation__link" href="/telegram" target="_blank">Telegram</a>
        <a class="mdl-navigation__link" href="/facebook" target="_blank">Facebook</a>
        <a class="mdl-navigation__link" href="/instagram" target="_blank">Instagram</a>
        <a class="mdl-navigation__link" href="/twitter" target="_blank">Twitter</a>
        <div class="dahliaOS-drawer-separator"></div>
        <span class="mdl-navigation__link" href="">For developers</span>
        <a class="mdl-navigation__link" href="/github" target="_blank">Source Code</a>
        <a class="mdl-navigation__link" href="/discord" target="_blank">Join Our Team</a>
    </nav>
</div>