<footer style="margin-top:-320px; background-color: transparent;" class="mdl-mega-footer">
    <div class="mdl-mega-footer__middle-section">

        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">Find us on</h1>
            <ul class="mdl-mega-footer__link-list">
                <li><a href="/discord" target="_blank">Discord</a></li>
                <li><a href="/github" target="_blank">Github</a></li>
                <li><a href="/reddit" target="_blank">Reddit</a></li>
                <li><a href="/telegram" target="_blank">Telegram</a></li>
                <li><a href="/facebook" target="_blank">Facebook</a>
                </li>
                <li><a href="/instagram" target="_blank">Instagram</a></li>
                <li><a href="/twitter" target="_blank">Twitter</a></li>
            </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">Technology</h1>
            <ul class="mdl-mega-footer__link-list">
                <li><a href="https://docs.dahliaos.io/#/articles/os/linux-based?id=the-system-in-depth" target="_blank">How it works</a></li>
                <li><a href="#">The goal</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">UI Modularity</a></li>
            </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">Documentation</h1>
            <ul class="mdl-mega-footer__link-list">
                <li><a href="https://dahliaos.io/docs/#/articles/os/linux-based?id=compiling"
                        target="_blank">Compiling</a></li>
                <li><a href="https://docs.dahliaos.io/#/articles/install/64bit">Installing</a></li>
                <li><a href="https://docs.dahliaos.io/#/articles/install/64bit" target="_blank">Running</a></li>
                <li><a href="https://docs.dahliaos.io/#/articles/hardware/supported-devices"
                        target="_blank">Supported devices</a></li>
                <li><a href="#">Linux vs. Zircon</a></li>
            </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">FAQ</h1>
            <ul class="mdl-mega-footer__link-list">
                <li><a href="/faq">Q&A</a></li>
                <li><a href="mailto:contact@dahliaos.io" target="_blank">Contact us</a></li>
            </ul>
        </div>
    </div>
    <style>
        .floatleft {
    float:left;
}
.floatright {
    float:right;
}
.floatcenter{
    float: center;
}

    </style>
    <div class="mdl-mega-footer__bottom-section">
        <div class="floatcenter"></div>
         <div class="mdl-logo"><img src="/assets/img/logo-white.png" style="position:absolute;" height="18.6666666667px">
        </div>
    </div>
        <ul class="mdl-mega-footer__link-list">
            <div class="floatleft">
                <li><a href="/support" style=" position:absolute;" >Support</a></li>
            </div>
            <div class="floatright">
                <li><a href="https://github.com/dahliaos/" style=" position:absolute; margin-left: -60px;"  target="_blank">Source Code</a></li>
            </div>
        </ul>
    </div>

</footer>
