<div class="mdl-layout__header-row" id="firstHeaderRow">
    <span class="dahliaOS-title mdl-layout-title">
        <a href="/">
            <img class="android-logo-image" src="/assets/img/logo-color.png">
        </a>
    </span>
    <!-- Add spacer, to align navigation to the right in desktop -->
    <div class="dahliaOS-header-spacer mdl-layout-spacer"></div>
    <div
        class="dahliaOS-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
            <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="search-field">
        </div>
    </div>
    <!-- Navigation -->
    <div class="dahliaOS-navigation-container">
        <nav class="dahliaOS-navigation mdl-navigation">
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/#features">Features</a>
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/#screens">News</a>
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/downloads">Download</a>
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="https://web.dahliaos.io"
                target="_blank">Demo</a>
            <a class="mdl-navigation__link mdl-typography--text-uppercase"
                href="https://github.com/orgs/dahlia-os/people" target="_blank">Developers</a>
            <a class="mdl-navigation__link mdl-typography--text-uppercase"
                href="/docs/">Documentation</a>
        </nav>
    </div>
    <span class="dahliaOS-mobile-title mdl-layout-title">
        <img class="android-logo-image" src="/assets/img/logo-color.svg">
    </span>
    <button class="dahliaOS-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
        id="more-button">
        <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
        <a href="/github" target="_blank" style="text-decoration: none;">
            <li class="mdl-menu__item">Source Code</li>
        </a>
        <li disabled class="mdl-menu__item">For Enterprise</li>
        <li class="mdl-menu__item">Screenshots</li>
    </ul>
</div>